*{
    margin: 0;
    padding: 0%;
    border: border-box;
    font-family: 'Fredoka', sans-serif;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.body{
    font-family: Arial, Helvetica, sans-serif;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.grey-wave{
    filter: invert(99%) sepia(7%) saturate(60%) hue-rotate(154deg) brightness(114%) contrast(93%);
    display: block;
}
.bottom-wave{
    transform: rotate(180deg);
}
header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: url("img/jumbo.png") center;
    background-size: cover;
    height: 26rem;
}
.bg-color-grey{
    background-color: #f6f6f6;
}
nav.main-nav{
    width: 70%;
    height: 5rem;
    display: flex;
    margin: 0.5rem 0 3rem 0;
    justify-content: space-between;
    align-items: center;
    
}
ul li{
    display: inline;
    color: white;  
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
}
button.light-button{
    border-radius: 16px;
    border: none;
    padding: 0.5rem 1rem 0.5rem 1rem;
    cursor: pointer;
}
button.dark-button{
    border-radius: 16px;
    border: none;
    padding: 0.5rem 1rem 0.5rem 1rem;
    cursor: pointer;
    background-color: #2C3E50;
}
section.main-header{
    width: 50%;
    height: 20rem;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
}
section.box-section{
    width: 100%;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.box{
    width: 70%;
    height: 25rem;;
    display: flex;
}

div.box-img{
    width: 65%;
    height: 100%;
    display: inline-flex;
}

div.box-text{
    width: 25%;
    height: 100%;
    flex-direction: column;
}
div.box-text h2{
    font-size: 2rem;
    margin-bottom: 2rem;
}
div.box-text p{
    font-size: 1.5rem;
    width: 100%;
}
section.last-box-section{
    width: 100%;
    height: auto;
    flex-direction: column;
}
.box-text-bottom{
    width: 70%;
    height: auto;    
    padding-top: 3rem;
    flex-direction: column;
}
div.box-text-bottom h2{
    font-size: 2rem;
}
div.box-text-bottom p{
    text-align: center;
    margin: 1rem 2rem 2rem;
    font-size: 1.5rem;
    width: 100%;   
}
div.adventure-start{
    width: 100%;
    padding-bottom: 10rem;
    padding-top: 10rem;
}
.star-bg{
    background-image: url(img/stars.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.star-title{
    width: 50%;
    text-align: center;
    margin: auto;
    font-size: 2rem;
}
#bluebutton{
    display: block;
    width: 10%;
    margin: auto;
    display: column;
}
footer{
    flex-wrap: wrap;
    background: #2C3E50;
    background-size: cover;
}
h4.footer-text-title{
    font-size: 2rem;
    margin-bottom: .5rem;
    color: #206694;
}
.footer-text-normal{
    color: white;
}
div.ita>img{
    width: 1.8rem;
    vertical-align: middle;
}
.caret{
    vertical-align: super;
    color: white;
}
div.social{
    display: flex;
}
div.social a{
    color: white;
    text-decoration: none;
    margin: 2rem .8rem;
}
h5.footer-text-title{
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #206694;   
}
a.footer-text-normal-little{
    font-size: 1rem;
    color: white;
    cursor: pointer;
    margin-bottom: .5rem;
    text-decoration: none;
}
a.footer-text-normal-little:hover{
    color: white;
}

section.main-footer{
    width: 70%;
    height: 18rem;
    display: flex;
    margin: 2rem 0;
}
div.big-link{
    width: 30%;
    height: 100%;
}
div.small-link{
    width: calc(70% / 4);
    height: 100%;
    display: flex;
    flex-direction: column;
}
hr{
    width: 70%;
    height: .5px;
    background-color: #206694;
    border: none;
}
section.end-footer{
    width: 70%;
    height: 2rem;
    justify-content: space-between;
    margin: 1rem 0 3rem 0;
}
button.blue-button{
    border-radius: 16px;
    border: none;
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: #206694;
    color: white;
    cursor: pointer;
}
